<!DOCTYPE html>
<html>

<head>
    <title>Config LoRa Parameters</title>
    <style>
        .form {
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>

<body>
    <form action="/sendconfig" method="POST">
        <div class="form">
            <label for="syncword">Set Syncword (0-255) : </label>
            <input type="number" id="syncword" name="syncword" min="0" max="255" required value="128">
        </div>
        <div class="form">
            <label for="txPower">Set Tx power (0-20 dBm) : </label>
            <input type="number" id="txPower" name="txPower" min="0" max="20" required value="10">
        </div>
        <div class="form">
            <label for="freq">Set frequency (900-931 MHz) : </label>
            <input type="number" id="freq" name="freq" min="900" max="931" required value="915">
        </div>
        <div class="form">
            <label for="interval">Set interval between every transmission (in minutes) :</label>
            <input type="number" id="interval" name="interval" min="1" required value="15">
        </div>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button> <!-- Add a Reset button -->
    </form>
</body>

</html>